/* Example Styles */
.button, .important-button {
  border-radius: 3px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}
.button {
  background: #2666a4;
  color: #ffffff;
}
.button.button--disabled {
  background: #a1afbc;
  color: #727c86;
}
.button.button--inverted {
  background: #ffffff;
  color: #2666a4;
}
.important-button {
  background: #a80050;
  color: #fff;
}

.cg-Catalog:before, .cg-Catalog:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: none;
}

.cg-Catalog:before {
  z-index: 10;
  background-image: -webkit-linear-gradient(rgba(233, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(rgba(233, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 100% 28px;
}

.cg-Catalog:after {
  z-index: 9;
  background-image: -webkit-linear-gradient(rgba(0, 233, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(rgba(0, 233, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 100% 4px;
}

.cg-Catalog.va-debug:before, .cg-Catalog.va-debug:after {
  display: block;
  pointer-events: none;
}
