@import "typography";

@mixin cg-list-base {
  list-style: none;
  padding: 0;
}

@mixin cg-list-item-base {
  @include cg-inline-elements;

  margin: 0 0 0 0.2em;
  text-indent: -1em;

  &:before {
    color: $catalog-brand-color;
    display: inline-block;
    font-size: 0.7em;
    position: relative;
    text-indent: 0;
  }
}

@mixin cg-ulist {
  @include cg-list-base;

  & > li {
    @include cg-list-item-base;
    &:before {
      content: "\25CF";
      top: -0.15em;
      width: #{(0.8/0.7)}em;
    }
  }
}

@mixin cg-olist {
  @include cg-list-base;
  counter-reset: item;

  & > li {
    @include cg-list-item-base;
    &:before {
      content: counter(item);
      counter-increment: item;
      left: -0.6em;
      font-weight: 600;
      text-align: right;
      width: #{(1/0.7)}em;
    }
  }
}
