@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin set-type($font-size, $vertical-units: $base-line-multi) {
  font-size: $font-size;
  line-height: strip-units(($vertical-units * $base-vertical-unit)/$font-size);
}

@mixin cg-heading($level) {
  color: $catalog-brand-color;
  font-family: $catalog-font-heading;
  font-style: normal;

  @if $level == 1 {
    @include set-type($catalog-font-xxl, 12);
    font-weight: 600;
    margin: 0 0 16px 0;
    text-transform: uppercase;
  } @else if $level == 2 {
    @include set-type($catalog-font-xl, 8);
    font-weight: 500;
    margin: 0 0 12px 0;
  } @else if $level == 3 {
    @include set-type($catalog-font-l, 6);
    color: $catalog-text-medium;
    font-weight: 500;
    margin: 23px 0 2px 0;
  } @else if $level == 4 {
    @include set-type($catalog-font-m);
    color: $catalog-text-medium;
    font-weight: 500;
    margin: 0 0 -2px 0;
  } @else if $level == 5 {
    @include set-type($catalog-font-s, 5);
    color: $catalog-text-medium;
    font-weight: 500;
    margin: 0 0 1px 0;
  }
}

@mixin cg-text($level) {
  color: $catalog-text-color;
  font-family: $catalog-font-family;
  font-style: normal;
  font-weight: 300;

  @if $level == 1 {
    @include set-type($catalog-font-l, 8);
    margin: 0 0 13px 0;
  } @else if $level == 2 {
    @include set-type($catalog-font-m, 6);
    margin: 0 0 16px 0;
  } @else if $level == 3 {
    @include set-type($catalog-font-s, 5);
    margin: 0 0 6px 0;
  }

  @include cg-inline-elements;
}

@mixin cg-blockquote {
  quotes: none;
  margin: 0;
  &:before, &:after {
    content: '';
    content: none;
  }
}

@mixin cg-code {
  background: #e1e1e1;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font-family: $catalog-font-mono;
  font-weight: 300;
  line-height: 1;
  padding: 0.178em 0.317em;
  text-indent: 0;
}

@mixin cg-link {
  color: $catalog-brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin cg-inline-elements {
  i, em { font-style: italic; }
  b, strong { font-weight: 400; }
  a    { @include cg-link; }
  code { @include cg-code; }
}
