$cg-Specimen-Generic-light-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=";

$cg-Specimen-Generic-dark-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAFklEQVQI12NQBQF2EGAghQkmwXxSmADZJQiZ2ZZ46gAAAABJRU5ErkJggg==";

.cg-Specimen-Generic {
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  width: 100%;
  height: auto;

  &,
  &.cg-Specimen-Generic--bg-light-pattern { background: url($cg-Specimen-Generic-light-pattern); }
  &.cg-Specimen-Generic--bg-dark-pattern  { background: url($cg-Specimen-Generic-dark-pattern); }

  &.cg-Specimen-Generic--bg-plain { background: #fff; padding-left: 0; padding-right: 0; }
  &.cg-Specimen-Generic--bg-light { background: #ccc; }
  &.cg-Specimen-Generic--bg-dark  { background: #333; }

}
