.cg-Specimen-Project {
  margin-top: 15px;
  margin-bottom: 30px;
}

.cg-Specimen-Project-frame {
  border: 1px solid #eee;
  display: block;
}

.cg-Specimen-Project-linkExternal {
  @include cg-paragraph($catalog-font-s);
  @include cg-link;
  display: inline-block;
  margin-top: 0.6em;
}

.cg-Specimen-Project-source {
  @include cg-paragraph($catalog-font-s);
  @include cg-code;
  background: #eee;
  display: block;
  border: none;
  height: 15em;
  width: 100%;
}
