@import "../../../config";
@import "../../../scaffold/typography";

.cg-Specimen-Project {
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: auto;
}

.cg-Specimen-Project-frame {
  border: 1px solid #eee;
  display: block;
}

.cg-Specimen-Project-linkExternal {
  @include cg-text(2);
  @include cg-link;
  display: inline-block;
  float: right;
  margin-left: 1.333em;
  margin-top: 0.6em;
}
