{
  "env": {
    "test": {
      "presets": [["env", {"targets": {"node": "current"}}], "react"],
      "plugins": ["transform-object-rest-spread"]
    },
    "lib": {
      "presets": [["env", {"targets": {"node": 6}}], "react"],
      "plugins": ["transform-object-rest-spread"]
    },
    "rollup": {
      "presets": [["env", {"loose": true, "modules": false, "targets": {"node": 6, "browsers": ["last 2 versions", "ie 11"]}}], "react"],
      "plugins": ["external-helpers", "transform-object-rest-spread"]
    }
  }
}
