@import "../../../config";

.cg-Specimen-Code {
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  height: auto;

  // Theme
  background: #fff;
  border: 1px solid #eee;
  color: $catalog-text-color;
  font-family: $catalog-font-mono;
  font-size: $catalog-font-xs;
  line-height: 1.4;
  overflow-x: scroll;
  white-space: pre;
}
