@import "../../config";
@import "../../scaffold/typography";

.cg-AppBar {
  background: $catalog-brand-color;
  padding: $size-l $size-xxl;
}

.cg-AppBar-title {
  @include cg-heading(2);
  color: $catalog-brand-color-dark;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
