@import "../../config";

$cg-AppLayout-sideNav-width: 250px;

.cg-AppLayout {}

.cg-AppLayout-topNav {
  position: fixed; left: 0; top: 0;
  cursor: pointer;
  z-index: 10;
}

.cg-AppLayout-sideNav {
  background: $catalog-brand-color;
  color: #fff;
  position: fixed; left: 0; top: 0;
}

.cg-AppLayout-content {
  position: absolute;
}
