.cg-Menu {}

.cg-Menu-list {
  border-top: 1px solid $catalog-brand-color-line;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cg-Menu-link {
  @extend %cg-Menu-link-base;
  @include cg-text(2);
  color: $catalog-brand-color-light;

  &.active {
    color: #fff;
  }

  &:hover, &:focus, &:active {
    @extend %cg-Menu-link-base;
    @include cg-text(2);
    background: rgba(255,255,255,0.1);
    color: #fff;
  }
}

%cg-Menu-link-base {
  border-bottom: 1px solid $catalog-brand-color-line;
  display: block;
  padding: 15px 40px;
  text-decoration: none;
}
