@import "../../config";
@import "../../scaffold/typography";

.cg-Menu {}

.cg-Menu-list {
  border-top: 1px solid $catalog-brand-color-line;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cg-Menu-link {
  @include cg-text(2);
  border-bottom: 1px solid $catalog-brand-color-line;
  color: $catalog-brand-color-light;
  display: block;
  margin: 0;
  padding: 15px 40px;
  text-decoration: none;

  &.active {
    color: #fff;
  }

  &:hover, &:focus, &:active {
    background: rgba(255,255,255,0.1);
    color: #fff;
    text-decoration: none;
  }
}
