$cg-AppLayout-sideNav-width: 250px;

.cg-AppLayout {}

.cg-AppLayout-topNav {}

.cg-AppLayout-sideNav {
  background: $catalog-brand-color;
  color: #fff;
  float: left;
  margin-right: -$cg-AppLayout-sideNav-width;
  width: $cg-AppLayout-sideNav-width;
}

.cg-AppLayout-content {
  float: left;
  margin-left: $cg-AppLayout-sideNav-width;
  width: calc(100% - #{$cg-AppLayout-sideNav-width});
}
