%cg-card-heading {
  color: $catalog-brand-color;
  font-family: $catalog-font-family;
  font-size: $catalog-font-xl;
  line-height: 1.1;
  margin: 0 0 1em 0;
}

%cg-card-component-heading {
  color: $catalog-brand-color;
  font-family: $catalog-font-family;
  font-size: $catalog-font-s;
  line-height: 1.1;
  margin: 2em 0 0.166em -0.08em;
}

%cg-card-code {
  font-family: $catalog-font-mono;
  font-size: $catalog-font-xs;
}

%cg-card-paragraph {
  color: $catalog-text-color;
  font-family: $catalog-font-family;
  font-size: $catalog-font-s;
  line-height: 1.4;
  margin: 0 0 0.6em 0;
  max-width: 42em;
}

%cg-card-list {
  color: $catalog-text-color;
  font-family: $catalog-font-family;
  font-size: $catalog-font-s;
  line-height: 1.4;
  margin: 0 0 0.6em 0;
  max-width: 42em;
}

%cg-card-link {
  color: $catalog-brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.cg-Card {
  @include clearfix;
  background: #fff;
  border-radius: 3px;
  margin: 30px 0;
  padding: 30px 20px;

  & > h2 { @extend %cg-card-heading; }
  & > h3,
  & > h4 { @extend %cg-card-component-heading; }
  & > h3 > code { @extend %cg-card-component-heading; @extend %cg-card-code; }
  & > h4 > code { @extend %cg-card-component-heading; @extend %cg-card-code; font-weight: normal; }
  & > p  { @extend %cg-card-paragraph; }
  & > p > code  { @extend %cg-card-code; }
  & > ul, & > ol { @extend %cg-card-list; }

  & > p > a,
  & > ul > li > a,
  & > ol > li > a { @extend %cg-card-link; }
}
