@import "../../config";
@import "../../scaffold/lists";
@import "../../scaffold/typography";

@mixin cg-Card-container {
  max-width: 671px;
}

%cg-Card-heading {
  @include cg-Card-container;
  @include cg-heading(2);
}

%cg-Card-section {
  @include cg-Card-container;
  @include cg-heading(3);

  code {
    color: $catalog-text-medium;
    font-family: $catalog-font-mono;
    font-size: 0.93em;
  }
}

%cg-Card-component-heading {
  @include cg-Card-container;
  @include cg-heading(4);
  code {
    color: $catalog-text-medium;
    font-family: $catalog-font-mono;
    font-size: 0.93em;
  }
}

%cg-Card-lead-text {
  @include cg-Card-container;
  @include cg-blockquote;
  p { @include cg-text(1); }
}

%cg-Card-paragraph {
  @include cg-Card-container;
  @include cg-text(2);
  max-width: 43em;
}

%cg-Card-ulist {
  @include cg-Card-container;
  @include cg-ulist;
  @include cg-text(2);
  & > li:before { color: $catalog-light-color; }
}

%cg-Card-olist {
  @include cg-Card-container;
  @include cg-olist;
  @include cg-text(2);
  & > li:before { color: $catalog-light-color; }
}

.cg-Card {
  @include clearfix;
  background: $catalog-white;
  border-radius: 3px;
  box-shadow: 0px 1px 4px $catalog-light-color;
  margin: $size-l 0;
  padding: $size-xl $size-l 14px $size-l;
  position: relative;

  & > h2 { @extend %cg-Card-heading; }
  & > h3 { @extend %cg-Card-section; }
  & > h4 { @extend %cg-Card-component-heading; }
  & > blockquote { @extend %cg-Card-lead-text; }
  & > p  { @extend %cg-Card-paragraph; }
  & > ul { @extend %cg-Card-ulist; }
  & > ol { @extend %cg-Card-olist; }

  & > h2 + h3 { margin-top: 15px; }
  & > h2 + h4 { margin-top: -1px; }
  & > h2 + p  { margin-top: 13px; }
  & > h2 + blockquote ~ blockquote p { font-style: italic; }
  & > h3 + h4 { margin-top: -2px}
  
  & > hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 16px 0;
    max-width: 671px;
    height: 0;
  }
}
