.button {
    font-family:sans-serif;
    border-radius: 5px;
    background:#ccc;
    color:#555;
    text-align: center;
    padding:20px;
    cursor: pointer;
    transition: .2s background;
}
.button:hover{
    background: #ddd;
}
