@import "../config";
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Source+Sans+Pro:300,400,500,600,700,800,300italic,600italic|Source+Code+Pro:200,300,400,500,600,700,800);

.cg-Catalog {
  background: $catalog-background;
  margin: 0;
  padding: 0;
  position: relative;
}
