@import "../../config";
@import "../../scaffold/lists";
@import "../../scaffold/typography";


%cg-Page-container {
  margin-left: 0;
  margin-right: 0;
  max-width: 700px;
}

%cg-Page-main-heading {
  @include cg-heading(1);
  margin-top: 0.6em;
  margin-bottom: 0.45em;
}

%cg-Page-lead-text {
  @include cg-blockquote;
  margin-top: 0;
  margin-bottom: 40px;

  p {
    @include cg-text(1);
    margin: 0 0 0.75em 0;
  }
}

.cg-Page {
  margin: 0 40px;

  & > h1 { @extend %cg-Page-container; @extend %cg-Page-main-heading; }
  & > blockquote { @extend %cg-Page-container; @extend %cg-Page-lead-text; }
  & > p { @extend %cg-Page-container; @include cg-text(2); }
  & > ul { @extend %cg-Page-container; @include cg-ulist; }
  & > ol { @extend %cg-Page-container; @include cg-olist; }
}

.cg-Page-loader {
  border-color: #EEEEEE #D3D3D3 #B6B6B6 #999999;
  border-radius: 50px;
  border-style: solid;
  border-width: 3px;
  height: 50px;
  margin: calc(50% - 25px) auto 0 auto;
  width: 50px;

  -webkit-animation: revolve 2s linear infinite;
  -moz-animation: revolve 2s linear infinite;
  animation: revolve 2s linear infinite;
}


@-webkit-keyframes revolve {
  from { -webkit-transform: rotate(0deg); }
  50%  { -webkit-transform: rotate(180deg); }
  to   { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes revolve {
  from { -moz-transform: rotate(0deg); }
  50%  { -moz-transform: rotate(180deg); }
  to   { -moz-transform: rotate(360deg); }
}
@keyframes revolve {
  from { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  to   { transform: rotate(360deg); }
}
