$cg-CodeBlock-patternlight: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=";

$cg-CodeBlock-patterndark: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAFklEQVQI12NQBQF2EGAghQkmwXxSmADZJQiZ2ZZ46gAAAABJRU5ErkJggg==";


.cg-CodeBlock {
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  height: auto;

  &,
  &.cg-CodeBlock--patternlight { background: url($cg-CodeBlock-patternlight); }
  &.cg-CodeBlock--patterndark  { background: url($cg-CodeBlock-patterndark); }

  &.cg-CodeBlock--plainwhite { background: #fff; }
  &.cg-CodeBlock--plainlight { background: #eee; }
  &.cg-CodeBlock--plaindark { background: #000; }

  &.cg-CodeBlock--code {
    background: #fff;
    border: 1px solid #eee;
    color: $catalog-text-color;
    font-family: $catalog-font-mono;
    font-size: $catalog-font-xs;
    line-height: 1.1;
  }
}
