@import "node-bourbon/assets/stylesheets/bourbon";
@import "catalyst/src/globals";
@import "catalyst/src/utils/layout";
@import "catalyst/src/grid";
@import "catalyst/src/spaces";
@import "catalyst/src/visibility";
@import "catalyst/src/utilities";


// Colors

$catalog-background: #EEEEEE;
$catalog-card-background: #FFFFFF;
$catalog-brand-color: #E54B3F;
$catalog-brand-color-light: #F5B7B2;
$catalog-brand-color-line: #D1312E;
$catalog-brand-color-dark: #AA191F;
$catalog-text-color:  #333333;
$catalog-text-medium: #555555;
$catalog-bg-light: #CCCCCC;
$catalog-bg-dark: #333333;
$catalog-light-color:  #D6D6D6;


// Patterns

$catalog-checkerboard-pattern-light: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=";

$catalog-checkerboard-pattern-dark: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAFklEQVQI12NQBQF2EGAghQkmwXxSmADZJQiZ2ZZ46gAAAABJRU5ErkJggg==";


// Fonts

$catalog-font-family: 'Source Sans Pro', sans-serif;
$catalog-font-heading: 'Dosis', sans-serif;
$catalog-font-mono: 'Source Code Pro', monospace;

$catalog-font-xs:  12px;
$catalog-font-s:   14px;
$catalog-font-m:   16px;
$catalog-font-l:   21px;
$catalog-font-xl:  28px;
$catalog-font-xxl: 38px;

$size-l: 21px;
$size-xl: 28px;
$size-xxl: 38px;

// The vertical grid unit. Margin, padding, and line-height are set to multiples
// of this value. This is the value that determines the baseline for our vertical
// rhythm. The default value of 6px allows more fine tuned designs that still
// obey vertical rhythm.
$base-vertical-unit: 4px !default;

// The value that multiplies the $base-vertical-unit to get the $base-line-height.
// This gives type an ideal line-height.
$base-line-multi: 7 !default;

// Base font size in pixels.
$base-font-size: 16px !default;

// Modular scale ratio that is used to figure out all the different font sizes
$ms-ratio: 1.333 !default;
