@import "../../../config";

$cg-Specimen-Html-light-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=";

$cg-Specimen-Html-dark-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAFklEQVQI12NQBQF2EGAghQkmwXxSmADZJQiZ2ZZ46gAAAABJRU5ErkJggg==";

.cg-Specimen-Html {
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  width: 100%;
  height: auto;

  &,
  &.cg-Specimen-Html--light { background: url($cg-Specimen-Html-light-pattern); }
  &.cg-Specimen-Html--dark  { background: url($cg-Specimen-Html-dark-pattern); }

  &.cg-Specimen-Html--plain {
    background: transparent; padding-left: 0; padding-right: 0;
    &.cg-Specimen-Html--light { background: #ccc; padding-left: 20px; }
    &.cg-Specimen-Html--dark  { background: #333; padding-left: 20px; }
  }
}
