@import "../../../config";
@import "../../../scaffold/typography";

$cg-Specimen-Html-light-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=";

$cg-Specimen-Html-dark-pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAFklEQVQI12NQBQF2EGAghQkmwXxSmADZJQiZ2ZZ46gAAAABJRU5ErkJggg==";


.cg-Specimen-Html {
  @include position;
}

.cg-Specimen-Html-toggle {
  $padding: 3px;
  $size: 20px;
  @include position(absolute, -($size + 2 * $padding) (-$padding) null null);
  border: $padding solid transparent;
  color: $catalog-light-color;
  cursor: pointer;
  display: inline-block;
  font-family: $catalog-font-mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: $size;
  line-height: $size;

  &:hover {
    color: $catalog-text-color;
  }
}

.cg-Specimen-Html-content {
  @include position;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  width: 100%;

  &,
  &.cg-Specimen-Html-content--light { background: url($cg-Specimen-Html-light-pattern); }
  &.cg-Specimen-Html-content--dark  { background: url($cg-Specimen-Html-dark-pattern); }

  &.cg-Specimen-Html-content--plain {
    background: transparent; padding-left: 0; padding-right: 0;
    &.cg-Specimen-Html-content--light { background: $catalog-bg-light; padding-left: 20px; }
    &.cg-Specimen-Html-content--dark  { background: $catalog-bg-dark; padding-left: 20px; }
  }
}

.cg-Specimen-Html-source {
  @include cg-code;
  padding: 20px;
}
